@model Mazadaty.Web.Areas.Admin.Models.Users.EditSubscriptionViewModel

@{
    ViewBag.Title = "Edit Subscription";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <section>

        <div class="form-group">
            @Html.Label("Current Subscription")
            <p class="form-control-static">
                @Html.DisplayFor(m => m.User.SubscriptionUtc, "SubscriptionUtc")
            </p>
        </div>

        <div class="form-group">
            @Html.LabelFor(i => i.CurrentSubscription, "Edit Subscription")
            <div class="row">
                <div class="col-md-4">
                    @Html.EditorFor(i => i.CurrentSubscription, "DateTimePicker")
                </div>
                <div class="col-md-8 form-inline">
                    <button type="button" id="btnAddDays" class="btn btn-link"><i class="fa fa-chevron-left fa-pad-right"></i>Add</button>
                    <div class="input-group">
                        @Html.TextBoxFor(i => i.AddDays, new { @class = "form-control form-control-sm", @type = "number" })
                        <div class="input-group-addon">days</div>
                    </div>
                </div>
            </div>
            @Html.ValidationMessageFor(i => i.CurrentSubscription, "Please enter a subscription date.")
        </div>

    </section>

    <section class="form-buttons">
        <button type="submit" class="btn btn-default">Save</button>
    </section>
    
    @Html.HiddenFor(i=>i.User.Id)
}

@section scripts {
    @Scripts.Render("~/js/validate")
    <script>
        $(function() {

            $(".date-picker").datepicker({ minDate: 0, dateFormat: 'dd/mm/yy' });

            $("#btnAddDays").click(function() {
                var $datePicker = $(".date-picker");
                var $addDayTxt = $("#AddDays");
                var parts = $datePicker.val().split('/');
                var currentDate = new Date(parts[2], parts[1] - 1, parts[0],0,0,0,0);
                currentDate.setDate(currentDate.getDate() + parseInt($addDayTxt.val()));
                var date_str = $.datepicker.formatDate('dd/mm/yy', currentDate);
                $datePicker.val(date_str).change();
            });

        });
    </script>
}


