@using Mzayad.Web.Extensions
@model Mzayad.Web.Areas.Admin.Models.Pages.AddEditViewModel

@{
    ViewBag.Title = "Add Page";
}

<div class="@Html.Css().FormNormal">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        @Html.HiddenFor(model => Model.Page.Status)
        @Html.HiddenFor(model => Model.Page.Html)
        @Html.HiddenFor(model => Model.Page.UserId)
        @Html.HiddenFor(model => Model.Page.ProjectKey)

        <section>
            <div class="form-group">
                @Html.LabelFor(model => Model.Page.Title, "Title").Required()
                @Html.EditorFor(model => Model.Page.Title)
            </div>
            <div class="form-group">
                @Html.LabelFor(model => Model.Page.Slug, "URL")
                <div class="input-group">
                    <span class="input-group-addon">/pages/</span>
                    @Html.TextBoxFor(model => Model.Page.Slug, new {@class = "form-control"})
                </div>
            </div>
        </section>

        <section class="form-buttons">
            <button type="submit" class="btn btn-default">Continue</button>
        </section>
    }
</div>

@section scripts
{
    @Scripts.Render("~/js/slugify")

    <script type="text/javascript">
        (function ($) {
             $("#Page_Slug").slugify("input[Name='Title\\[0\\]\\.Value']", false);
        })(jQuery);

    </script>
}

