@using Kendo.Mvc.UI

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    @Styles.Render("~/css/calender")
    @Styles.Render("~/css/admin")
    @RenderSection("styles", false)
    <style>
        a[disabled] {
            opacity: 0.5;
        }
        .sub-menu-item {
            padding-left: 24px;
            font-size: 85%;
        }
    </style>
}

<div class="row">
    <div class="col-lg-3 col-md-4 hidden-print">
        <ul class="menu-list">
            <li><a href="@Url.Action("Index", "Users")"><i class="fa fa-fw fa-pad-right fa-user"></i>Users</a></li>
            <li><a href="@Url.Action("Index", "Auctions")"><i class="fa fa-fw fa-pad-right fa-gavel"></i>Auctions</a></li>
            <li><a href="@Url.Action("Index", "Products")"><i class="fa fa-fw fa-pad-right fa-cube"></i>Products</a></li>
            <li><a href="@Url.Action("Index", "Orders")"><i class="fa fa-fw fa-pad-right fa-bus"></i>Orders</a></li>
            <li class="sub-menu-item"><a href="@Url.Action("Index", "Categories")"><i class="fa fa-fw fa-pad-right fa-sitemap"></i>Categories</a></li>
            <li class="sub-menu-item"><a href="@Url.Action("Index", "Specifications")"><i class="fa fa-fw fa-pad-right fa-reorder"></i>Specifications</a></li>
            <li class="sub-menu-item"><a href="@Url.Action("Index", "Sponsors")"><i class="fa fa-fw fa-pad-right fa-money"></i>Sponsors</a></li>
            <li><a disabled href="#"><i class="fa fa-fw fa-pad-right fa-gamepad"></i>Gamification</a></li>
            <li class="sub-menu-item"><a href="@Url.Action("Index", "Avatars")"><i class="fa fa-fw fa-pad-right fa-rocket"></i>Avatars</a></li>
            <li><a href="@Url.Action("Index", "Subscriptions")"><i class="fa fa-fw fa-pad-right fa-gift"></i>Subscriptions</a></li> 
            <li><a href="@Url.Action("EmailTemplates", "Settings")"><i class="fa fa-fw fa-pad-right fa-envelope"></i>Email Templates</a></li>
            <li><a href="@Url.Action("Index", "WishLists")"><i class="fa fa-fw fa-pad-right fa-star"></i>Wishlists</a></li>
            <li><a href="@Url.Action("Index", "Docs")"><i class="fa fa-fw fa-pad-right fa-file-text-o"></i>Development Docs</a></li>
            <li><a disabled href="@Url.Action("Index", "Reports")"><i class="fa fa-fw fa-pad-right fa-bar-chart"></i>Reports</a></li>
        </ul>
    </div>
    <div class="col-lg-9 col-md-8">
        @RenderBody()
    </div>
</div>

@section scripts {
    @Scripts.Render("~/js/validate")
    @Scripts.Render("~/js/calender")
    <script src="~/scripts/kendo.web.min.js"></script>
    <script src="~/Scripts/kendo.aspnetmvc.min.js"></script>
    @Html.Kendo().DeferredScripts()
    @RenderSection("scripts", false)
    <script>
        $(function() {
            $("a[disabled]").on("click", function(e) {
                e.preventDefault();
            });
        })
    </script>
}