@using Mzayad.Web.Extensions
@model Mzayad.Web.Areas.admin.Models.Categories.AddViewModel
@{
    ViewBag.Title = "Add Category";
}

<div class="row">
    <div class="@Html.Css().FormNarrow">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <section>
                <div class="form-group">
                    @Html.LabelFor(i => i.Category.Name, "Name")
                    @Html.EditorFor(i=>i.Category.Name,Model.Category)
                    @Html.ValidationMessageFor(m => m.Category.Name, "Please enter a category name.")
                </div>
                <div class="form-group">
                    @Html.LabelFor(i => i.Category.ParentId, "Parent")
                    @Html.DropDownListFor(m => m.Category.ParentId, Model.Categories, "Parent Category", new { @class = "form-control" })
                </div>
                

                
            </section>

            <section class="form-buttons">
                <button type="submit" class="btn btn-default">Save And Continue</button>
            </section>
        }
    </div>
</div>

@section scripts {
    @Scripts.Render("~/js/validate")
    

    <script>
        (function($) {

            
        })(jQuery);
    </script>
}
