@using Mzayad.Models.Enums
@using Mzayad.Web.Core.Enums
@using Mzayad.Web.Models.Auctions
@using OrangeJetpack.Base.Core.Formatting
@model AuctionViewModel

@helper RenderCountry(string countries)
{
var countriesArray = Model.CountryList?.Split(',') ?? new string[0];
var resultHtml = "";
foreach (var country in countriesArray)
{
    resultHtml += "<i class='flag flag-" + country.ToLowerInvariant() + "'></i>";
}
    <div class="flag-container2">
        @Html.Raw(resultHtml)
    </div>

}

<div class="auction-tile @(Model.StartUtc > DateTime.UtcNow ? "auction-tile-rounded": "")">
    @if (Model.StartUtc > DateTime.UtcNow)
    {
        <div class="auction-coming-header">
            <div class="row">
                <div class="col-md-12 text-center">
                    @Model.StartUtc.ToString("dddd, dd MMMM @ h:m tt") <div class="text-small"><i class="fa fa-clock-o"></i> @Model.Duration @Global.Minutes</div>
                </div>
                @*<div class="col-md-8 pull-right text-right">
                    <div>
                        <span>@Model.StartUtc.AddHours(3).ToString("hh:mm")</span>    
                    </div>
                    
                    <div class="duration">
                        @Global.Duration @Model.Duration @Global.MinuteAbbreviation
                    </div>
                </div>*@
            </div>
        </div>
    }
    <div class="auction-tile-image">
        <a href="@Url.Action("Index", "Products", new {productId = Model.ProductId})">
            <img class="img-responsive" src="@Model.ImageUrl" alt="@Model.Title" />
            <div class="sponsor-ribbon"><span>@Model.SponsorName</span></div>
            @RenderCountry(Model.CountryList)
        </a>
    </div>
    <div class="auction-tile-details">
        <a href="@Url.Action("Index", "Products", new {productId = Model.ProductId})">
            <h3 class="auction-tile-title auction-tile-row">@Model.Title</h3>
        </a>
        <div class="auction-tile-prices auction-tile-row">
            <div class="auction-tile-retail-price">
                @StringFormatter.ObjectFormat(Global.RetailPriceWithLabel, new { Model.RetailPrice })
            </div>
            @if (!string.IsNullOrWhiteSpace(Model.WonByAmount))
            {
                <div class="auction-tile-winning-price">
                    @StringFormatter.ObjectFormat(Global.WinningPriceWithLabel, new { WinningPrice = Model.WonByAmount })
                </div>
            }
        </div>
        @if (Model.WonByUserName != null)
        {
            <div class="auction-tile-won-by-avater auction-tile-row">
                <img src="@Model.WonByAvatarUrl" alt="@Model.WonByUserName" width="64" height="64" />
                <div class="auction-title-username">
                    <a href="@Url.Action("UserProfile", "User", new {language = LanguageCode, userName = Model.WonByUserName})">@Model.WonByUserName</a>
                </div>
            </div>
        }
        @if (Model.BuyNowEnabled && Model.AuctionStatus == AuctionStatus.Closed)
        {
            <div class="auction-tile-buynow auction-tile-row">
                <a class="btn btn-default btn-rounded text-uppercase" href="@Url.Action("BuyNow", "Orders", new {language = LanguageCode, auctionId = Model.AuctionId})">
                    @StringFormatter.ObjectFormat(Global.BuyNowWithPrice, new { Model.BuyNowPrice })
                </a>
            </div>
        }

        <div class="auction-tile-row">
            <a class="btn btn-rounded btn-outline btn-unstyled" href="@Url.Action("Add", "WishList", new {item = HttpUtility.UrlEncode(Model.Title)})">@Global.AddToWishList</a>
        </div>

        @if (Model.Status == AuctionType.Upcoming.ToString())
        {
            <div class="auction-tile-row">
                <a class="btn btn-rounded btn-outline btn-unstyled" href="@Url.Action("Edit", "AutoBid", new {auctionId = Model.AuctionId})">@Global.SetAutoBid</a>
            </div>
        }

    </div>
</div>