@model Mzayad.Web.Models.Home.AuctionViewModel

<div class="auction-tile">
    <div class="auction-tile-image">
        <img class="img-responsive" src="@Model.MainImage.ImageMdUrl" alt="@Model.Title" />
    </div>
    <div class="auction-tile-details">
        <div class="auction-tile-title">@Model.Title</div>
        <div class="auction-tile-prices">
            <div class="auction-tile-retail-price">Retail Price: @Model.RetailPrice</div>
            <div class="auction-tile-winning-price">Winning Price: @Model.WonByAmount</div>
        </div>
        <div class="auction-tile-won-by-avater">
            <img src="@Model.WonByAvatarUrl" alt="@Model.WonByUserName" width="64" height="64" />
            <div class="auction-title-username">@Model.WonByUserName</div>
        </div>
        @if (Model.BuyNowEnabled)
        {
            <div class="auction-tile-buynow-price">Buy Now: @Model.BuyNowPrice</div>
                            <a class="btn btn-default btn-rounded" href="@Url.Action("BuyNow", "Orders", new { language = LanguageCode, auctionId = Model.AuctionId })">Buy Now</a>
        }
    </div>
</div>