@using Mzayad.Models
@model Mzayad.Web.Models.Home.CategoryListModel

@helper RenderCategory(Category category, int depth)
{
    var prefix = string.Join("", Enumerable.Range(0, depth).Select(i => "&nbsp;&nbsp;"));
    var selected = Model.CategoryId == category.CategoryId;

    <option value="@category.CategoryId" selected="@selected">
        @Html.Raw(prefix) @category.Name
        @if (category.Children.Any())
        {
            foreach (var child in category.Children)
            {
                @RenderCategory(child, depth + 1)
            }
        }
    </option>
}

<select name="categoryId" class="form-control auto-submit">
    <option value="">@Global.AllCategories</option>
    @foreach (var category in Model.Categories)
    {
        @RenderCategory(category, 0)
    }
</select>
