@using Mzayad.Core.Formatting
@using Mzayad.Web.Models.Subscriptions
@using OrangeJetpack.Base.Core.Formatting
@using DateTimeFormatter = OrangeJetpack.Base.Core.Formatting.DateTimeFormatter
@model BuyNowViewModel

@{
    ViewBag.Title = StringFormatter.ObjectFormat(Global.BuySubscriptionWithName, Model);
}

<p class="instruction">
    You are buying <strong>@Model.Subscription.Name</strong> for <strong>@Model.Subscription.FormattedPrice()</strong>, this will give you a valid subscription until <strong>@DateTimeFormatter.ToLocalTime(Model.NewExpirationUtc, DateTimeFormatter.Format.Full)</strong>.
</p>

<p class="text-center">

    @if (Model.Subscription.PriceCurrencyIsValid)
    {
        <a href="#" class="btn btn-default">@StringFormatter.ObjectFormat(Global.BuyForPriceKd, new { FormattedPrice = CurrencyFormatter.Format(Model.Subscription.PriceCurrency) })</a>
    }

    @if (Model.Subscription.PriceTokensIsValid)
    {
        <a href="@Url.Action("BuyWithTokens", new { Model.Subscription.SubscriptionId })" class="btn btn-default">@StringFormatter.ObjectFormat(Global.BuyForPriceTokens, new { Model.Subscription.PriceTokens })</a>
    }

</p>