@using OrangeJetpack.Base.Core.Formatting
@model Mzayad.Web.Models.Subscriptions.BuyNowViewModel

@{
    ViewBag.Title = StringFormatter.ObjectFormat(Global.BuySubscriptionWithName, Model);
}

<p>To purchase <strong>@Model.Subscription.Name</strong> with <strong>@StringFormatter.ObjectFormat(Global.SubscriptionPriceTokens, new { Model.Subscription.PriceTokens })</strong> please review your token balance below and click submit to continue.</p>

<div class="row">
    <div class="@Html.Css().FormNarrow">

        @using (Html.BeginForm("BuyWithTokens", "Subscriptions", new {Model.Subscription.SubscriptionId}))
        {
            @Html.AntiForgeryToken()

            <section>
                <label>Your Current Balance</label>
                <p class="form-control-static">                
                    @StringFormatter.ObjectFormat(Global.SubscriptionPriceTokens, new { PriceTokens = Model.AvailableTokens })
                </p>
                <label>Subscription Cost</label>
                <p class="form-control-static">
                    @StringFormatter.ObjectFormat(Global.SubscriptionPriceTokens, new {Model.Subscription.PriceTokens})
                </p>
                <label>Balance After Purchase</label>
                <p class="form-control-static">
                    @StringFormatter.ObjectFormat(Global.SubscriptionPriceTokens, new { PriceTokens = Model.AvailableTokensAfterPurchase })
                </p>
            </section>

            <section class="form-buttons">
                <button type="submit" class="btn btn-default">@Global.Submit</button>

            </section>
        }


    </div>
</div>