@using Mzayad.Web.Models.Subscriptions
@model IEnumerable<Mzayad.Models.Subscription>

@{
    ViewBag.Title = Global.BuySubscription;
}

@section styles {
    <style>
        .row-item {
            margin: 15px;
        }

        .row-label {
            text-align: right;
            font-weight: bold;
        }
    </style>
}

<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-md-4">

            <div class="panel panel-default text-center">
                <div class="panel-heading">@item.Name</div>
                <div class="panel-body">

                    <p><strong>Duration:</strong> @item.Duration days</p>
                    <p><strong>Price:</strong> @item.FormattedPrice()</p>
                    <p>
                        <strong>Quantity:</strong>
                        @if (item.Quantity.HasValue)
                        {
                            <span>only @item.Quantity left!</span>
                        }
                        else
                        {
                            <span>no limit</span>
                        }
                    </p>

                    <a class="btn btn-default btn-block" href="@Url.Action("Buy", new {subscriptionId = item.SubscriptionId})">Buy Now</a>

                </div>
            </div>

        </div>
    }
</div>