@model Mzayad.Web.Areas.Admin.Models.Notifications.SendViewModel
@{
    ViewBag.Title = "Send Notifications";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <section>
        <div class="form-group">
            @Html.LabelFor(i => i.Topic)
            @Html.TextBoxFor(i => i.Topic, new {@class = "form-control"})
            @Html.ValidationMessageFor(i => i.Topic)
            <div class="help-block">
                Shortcuts:
                <a class="topic-shortcut" href="#" data-topic="/topics/all">All Users</a>,
                <a class="topic-shortcut" href="#" data-topic="/topics/android">Android Users</a>,
                <a class="topic-shortcut" href="#" data-topic="/topics/ios">iOS Users</a>,
                <a class="topic-shortcut" href="#" data-topic="/topics/userid-{ENTER USER ID}">Specific User</a>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(i => i.Title)
            @Html.TextBoxFor(i => i.Title, new { @class = "form-control" })
            @Html.ValidationMessageFor(i => i.Title)
        </div>
        <div class="form-group">
            @Html.LabelFor(i => i.Message)
            @Html.TextAreaFor(i => i.Message, new { @class = "form-control" })
            @Html.ValidationMessageFor(i => i.Message)
        </div>
    </section>
    <section class="form-buttons">
        <button type="submit" class="btn btn-default">Send Notification</button>
    </section>
}

@section scripts {
    <script>

        var $topic = $("#Topic");

        $(".topic-shortcut").on("click",
            function() {
                var $this = $(this);
                var topic = $this.data("topic");
                $topic.val(topic);
            });

    </script>
}