@using Mzayad.Web.Extensions
@model Mzayad.Web.Areas.admin.Models.Subscription.AddViewModel
<div class="row">
    <div class="@Html.Css().FormWide">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <section>
                <div class="form-group">
                    @Html.LabelFor(i => i.Subscription.Name, "Name").Required("Required")
                    @Html.EditorFor(i => i.Subscription.Name, Model)
                    @Html.ValidationMessageFor(i => i.Subscription.Name, "Please enter a product name.")
                </div>
                <div class="form-group">
                    @Html.LabelFor(i => i.Subscription.Status, "Status").Required()
                    @Html.DropDownListFor(i => i.Subscription.Status, Model.StatusList, new {@class = "form-control"})
                    @Html.ValidationMessageFor(i => i.Subscription.Status, "Please select a status.")
                </div>
                <div class="form-group">
                    @Html.LabelFor(i => i.Subscription.PurchasePrice, "Price (KD)")
                    <div class="input-group">
                        @Html.TextBoxFor(i => i.Subscription.PurchasePrice, new { @class = "form-control", @type = "number" })
                        <span class="input-group-addon">KD</span>
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(i => i.Subscription.ExpirationUtc, "Expiration") <small>[optional]</small>
                    @Html.EditorFor(i => i.Subscription.ExpirationUtc)
                </div>
                <div class="form-group">
                    @Html.LabelFor(i => i.Subscription.Quantity, "Quantity") <small>[optional]</small>
                    @Html.TextBoxFor(i => i.Subscription.Quantity, new { @class = "form-control", @type = "number" })
                </div>
            </section>

            <section class="form-buttons">
                <button type="submit" class="btn btn-default">Save</button>
            </section>

        }
    </div>
</div>


