@using Humanizer
@using Mzayad.Core.Formatting
@using Mzayad.Models.Enum
@using Mzayad.Web.Extensions
@using Mzayad.Web.Models.Subscriptions
@model IEnumerable<Mzayad.Models.Subscription>

@{
    ViewBag.Title = "Subscriptions List";
}

<ul class="link-list">
    <li>@Html.ActionLink("Add Subscription", "Add", "Subscriptions")</li>
</ul>

@if (!Model.Any())
{
    <div class="alert alert-warning">There are currently no subscriptions.</div>
    return;
}

<table class="@Html.Css().GridTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Status</th>
            <th>Price</th>
            <th>Expiration</th>
            <th>Quantity</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Name</td>
                <td>
                    @if (item.Status == SubscriptionStatus.Active)
                    {
                        <span class="label label-success">Active</span>
                    }
                    else
                    {
                        <span class="label label-danger">@item.Status.Humanize()</span>
                    }
                </td>
                <td>@item.FormattedPrice()</td>
                <td>@(item.ExpirationUtc.HasValue ? item.ExpirationUtc.Value.ToShortDateString() : "")</td>
                <td>@item.Quantity</td>
                <td class="link-cell">@Html.ActionLink("Edit", "Edit", "Subscriptions", new { id = item.SubscriptionId }, null)</td>
            </tr>
        }
    </tbody>
</table>
