@using Mzayad.Web.Extensions
@using OrangeJetpack.Base.Web.Extensions
<!DOCTYPE html>
<html lang="@Html.Language()" dir="@(Html.IsArabic() ? "rtl" : "ltr")">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@Html.PageTitle()</title> 
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet" type="text/css">
    <link rel="apple-touch-icon" href="http://az723232.vo.msecnd.net/assets/mzayad-favicon-32x32-635593381391686784.png"> @* should be 152x152 *@
    <link rel="icon" href="http://az723232.vo.msecnd.net/assets/mzayad-favicon-32x32-635593381391686784.png">@* should be 96x96 *@
    <!--[if IE]><link rel="shortcut icon" href="/favicon.ico"><![endif]--> @* should be 16x16 and 32x32 *@
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="http://az723232.vo.msecnd.net/assets/mzayad-favicon-32x32-635593381391686784.png">@* should be 144x144 *@
    @Styles.Render("~/css")
    @RenderSection("styles", false)
</head>
<body id="@Html.Ojs().PageIdentifier()">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="@Url.Action("Index", "Home", new {area = "", language = Html.Language()})" class="navbar-brand"><i class="fa fa-gavel fa-lg"></i> Mzayad</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @Html.Partial("_Layout_UserMyAccount")
                    <li>@Html.ActionLink(Global.Home, "Index", "Home", new { area = "", language = Html.Language() }, null)</li>
                    @Html.Partial("_Layout_LanguageSelector")
                </ul>
            </div>
        </div>
    </div>
    <div id="main" class="container body-content">
        @if (!string.IsNullOrWhiteSpace(ViewBag.Title))
        {
            <h1 id="page-title">@ViewBag.Title</h1>
        }
        @Html.Partial("_Layout_StatusMessage")
        @RenderBody()
        <hr />
        <footer>
            <p lang="en">&copy; Mzayad</p>
        </footer>
    </div>
    @Scripts.Render("~/js/jquery")
    @Scripts.Render("~/js/site")
    @RenderSection("scripts", required: false)
</body>
</html>
