@using Mzayad.Core.Formatting
@using Mzayad.Web.Core.ShoppingCart
@{
    var shoppingCart = ViewBag.ShoppingCart as ShoppingCart;
}

@if (shoppingCart != null && shoppingCart.Items.Any())
{
    <li class="visible-xs">
        <ul class="navbar-nav">
            <li><a class="navbar-link" href="@Url.Action("Cart", "Shop", new {Area = ""})">@Global.ShoppingCart [@shoppingCart.Items.Sum(i => i.Quantity)]</a></li>
        </ul>
    </li>
    <li class="dropdown hidden-xs">
        <a href="#" class="navbar-link dropdown-toggle" data-toggle="dropdown">
            @shoppingCart.Items.Sum(i => i.Quantity) <i class="fa fa-shopping-cart icon-shopping-cart"></i> <span>@Global.ShoppingCart</span><i class="fa fa-caret-down fa-pad-left"></i>
        </a>
        <ul id="navbar-cart" class="dropdown-menu">
            <li id="navbar-cart-items">
                <table>
                    <tbody>
                        @foreach (var cartItem in shoppingCart.Items)
                        {
                            <tr class="row-top">
                                <td class="fit-cell" rowspan="2">
                                    <img class="cart-item-image" src="@cartItem.ImageUrl" alt="@cartItem.Name" width="34" height="34" />
                                </td>
                                <td class="cart-item-product-name" colspan="5">@cartItem.Name</td>
                            </tr>
                            <tr class="row-bottom">
                                <td class="fit-cell">
                                    @Html.Raw(string.Format(Global.QuantityLabelWithValue, cartItem.Quantity))
                                </td>
                                <td></td>
                                <td class="fit-cell">
                                    @Html.Raw(string.Format(Global.UnityLabelWithValue, CurrencyFormatter.Format(cartItem.ItemPrice)))
                                </td>
                                <td></td>
                                <td class="fit-cell">
                                    @Html.Raw(string.Format(Global.TotalLabelWithValue, CurrencyFormatter.Format(cartItem.TotalPrice)))
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </li>
            <li id="navbar-cart-buttons">
                <div class="row">
                    <div class="col-xs-5">
                        <div id="navbar-cart-price">
                            @Html.Raw(string.Format(Global.TotalLabelWithValue, CurrencyFormatter.Format(shoppingCart.TotalPrice)))
                        </div>
                    </div>
                    <div class="col-xs-7">
                        <a class="btn  btn-block btn-default" href="@Url.Action("Cart", "Shop", new { Area = "" })">@Global.Checkout</a>
                    </div>
                </div>
            </li>
        </ul>
    </li>
}
