@using Mzayad.Web.Core.Identity
@using Mzayad.Web.Extensions
@if (Request.IsAuthenticated)
{
    if (User.IsInRole(Role.Administrator.ToString()))
    {
        <li>
            <a href="@(Url.Action("Index", "Auctions", new { area = "admin" }))"><i class="fa fa-cog fa-pad-right"></i>Admin</a>
        </li>
    }
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">@string.Format(Global.HelloFirstName, User.Identity.GetDisplayName())<i class="fa fa-caret-down fa-pad-left"></i></a>
        <ul class="dropdown-menu">
            <li>@Html.ActionLink(Global.Dashboard, "Dashboard", "User", new { area = "", language = Html.Language() }, null)</li>
            <li>@Html.ActionLink(Global.BuySubscription, "Buy", "Subscriptions", new { area = "", language = Html.Language() }, null)</li>
            <li>
                <a href="javascript:document.getElementById('signout').submit();">@Global.SignOut</a>
                @using (Html.BeginForm("SignOut", "Account", new { area = "", language = Html.Language() }, FormMethod.Post, new { id = "signout" }))
                {
                    @Html.AntiForgeryToken()
                }
            </li>
            
        </ul>
    </li>
}
else
{
    <li><a href="@Url.Action("SignIn", "Account", new { area = "", language = Html.Language() }, null)">@Global.MyAccount</a></li>
}
