@using System.Globalization
@{
    var otherLanguage = CultureInfo.GetCultureInfo(ViewBag.LanguageCode == "en" ? "ar" : "ar");  
}

<li>
    @using (Html.BeginForm("ChangeLanguage", "Home", new { area = ""}))
    {
        @Html.AntiForgeryToken()
        <input type="hidden" name="returnUrl" value="@Request.Url" />
        <input type="hidden" name="languageCode" value="@otherLanguage.TwoLetterISOLanguageName" />
        <button type="submit" class="btn btn-link" lang="@otherLanguage.TwoLetterISOLanguageName" title="@Global.ChangeLanguage">@otherLanguage.NativeName</button>
    }
</li>