@using Mzayad.Web.Core.Identity
<div class="col-lg-3 col-md-4 hidden-print">
    <ul class="menu-list">
        @if (User.IsInRole(Role.Administrator.ToString()))
        {
            <li><a href="@Url.Action("Index", "Users", new {Area="Admin"})"><i class="fa fa-fw fa-pad-right fa-user"></i>Users</a></li>
            <li><a href="@Url.Action("Index", "Orders", new {Area="Admin"})"><i class="fa fa-fw fa-pad-right fa-truck"></i>Orders</a></li>
            <li><a href="@Url.Action("Index", "Auctions", new {Area="Admin"})"><i class="fa fa-fw fa-pad-right fa-gavel"></i>Auctions</a></li>
            <li class="sub-menu-item"><a href="@Url.Action("SelectProduct", "Auctions", new {Area="Admin"})"><i class="fa fa-fw fa-pad-right fa-plus"></i>Create Auction</a></li>
            <li><a href="@Url.Action("Index", "PageManagement", new {Area="Admin"})"><i class="fa fa-fw fa-pad-right fa-file-text-o"></i>Site Pages</a></li>
            <li><a href="@Url.Action("Index", "Banners", new {Area="Admin"})"><i class="fa fa-fw fa-pad-right fa-file-image-o"></i>Banners</a></li>
            <li><a href="@Url.Action("Index", "Products", new {Area="Admin"})"><i class="fa fa-fw fa-pad-right fa-cube"></i>Products</a></li>
            <li class="sub-menu-item"><a href="@Url.Action("Index", "Categories", new {Area="Admin"})"><i class="fa fa-fw fa-pad-right fa-sitemap"></i>Categories</a></li>
            <li class="sub-menu-item"><a href="@Url.Action("Index", "Specifications", new {Area="Admin"})"><i class="fa fa-fw fa-pad-right fa-reorder"></i>Specifications</a></li>
            <li class="sub-menu-item"><a href="@Url.Action("Index", "Sponsors", new {Area="Admin"})"><i class="fa fa-fw fa-pad-right fa-money"></i>Sponsors</a></li>
            <li><a href="@Url.Action("Send", "Notifications", new {Area="Admin"})"><i class="fa fa-fw fa-pad-right fa-paper-plane"></i>Notifications</a></li>
            <li><a disabled href="#"><i class="fa fa-fw fa-pad-right fa-gamepad"></i>Gamification</a></li>
            <li class="sub-menu-item"><a href="@Url.Action("Index", "Trophies", new {Area="Admin"})"><i class="fa fa-fw fa-pad-right fa-trophy"></i>Trophies</a></li>
            <li class="sub-menu-item"><a href="@Url.Action("Index", "Levels", new {Area="Admin"})"><i class="fa fa-fw fa-pad-right fa-line-chart"></i>Levels</a></li>
            <li class="sub-menu-item"><a href="@Url.Action("Index", "islamiccalendar", new {Area="Admin"})"><i class="fa fa-fw fa-pad-right fa-table"></i>Islamic Calendar</a></li>
            <li class="sub-menu-item"><a href="@Url.Action("Index", "Avatars", new {Area="Admin"})"><i class="fa fa-fw fa-pad-right fa-rocket"></i>Avatars</a></li>
            <li><a href="@Url.Action("Index", "Subscriptions", new {Area="Admin"})"><i class="fa fa-fw fa-pad-right fa-money"></i>Subscriptions</a></li>
            <li><a href="@Url.Action("Index", "Prizes", new {Area="Admin"})"><i class="fa fa-fw fa-pad-right fa-gift"></i>Prizes</a></li>
            <li><a href="@Url.Action("Index", "SplashAds", new { Area = "Admin" })"><i class="fa fa-fw fa-pad-right fa-mobile"></i>Mobile Splash Ads</a></li>
            <li><a href="@Url.Action("EmailTemplates", "Settings", new {Area="Admin"})"><i class="fa fa-fw fa-pad-right fa-envelope"></i>Email Templates</a></li>
            <li><a href="@Url.Action("Index", "WishLists", new {Area="Admin"})"><i class="fa fa-fw fa-pad-right fa-star"></i>Wishlists</a></li>
            <li><a href="@Url.Action("Index", "Docs", new {Area="Admin"})"><i class="fa fa-fw fa-pad-right fa-file-text-o"></i>Development Docs</a></li>
        }
        <li><a disabled href="@Url.Action("Index", "Reports")"><i class="fa fa-fw fa-pad-right fa-bar-chart"></i>Reports</a></li>
        <li class="sub-menu-item"><a href="@Url.Action("Index", "Products", new {area = "Reports"})"><i class="fa fa-fw fa-pad-right fa-table"></i>Products by Date</a></li>
        <li class="sub-menu-item"><a href="@Url.Action("Knet", "Transactions", new {area = "Reports"})"><i class="fa fa-fw fa-pad-right fa-table"></i>KNET Transactions</a></li>
        <li class="sub-menu-item"><a href="@Url.Action("BuyNow", "Transactions", new {area = "Reports"})"><i class="fa fa-fw fa-pad-right fa-table"></i>Buy Now Transactions</a></li>
        <li class="sub-menu-item"><a href="@Url.Action("Logs", "Subscriptions", new {area = "Reports"})"><i class="fa fa-fw fa-pad-right fa-table"></i>Subscription Logs</a></li>
        <li class="sub-menu-item"><a href="@Url.Action("Logs", "Tokens", new {area = "Reports"})"><i class="fa fa-fw fa-pad-right fa-table"></i>Token Logs</a></li>
    </ul>
</div>
