@using Mzayad.Models
@helper RenderCategory(Category category)
{
    <li>
        <label class="checkbox-inline">
            <input type="checkbox" name="SelectedCategories" value="@category.CategoryId" data-parent-id="@category.ParentId" checked="@Model.SelectedCategories.Contains(category.CategoryId)" />
            @category.Name
        </label>

        @if (category.Children.Any())
        {
            <ul class="list-unstyled" style="padding-left: 20px;">
                @foreach (var child in category.Children)
                {
                    @RenderCategory(child)
                }
            </ul>
        }
    </li>
}

<ul id="CategoryList" class="list-unstyled">
    @foreach (var category in Model.Categories)
    {
        @RenderCategory(category)
    }
</ul>