@using Mazadaty.Web.Extensions
@model IEnumerable<Mazadaty.Models.Trophy>

@{
    ViewBag.Title = "Trophies";

}
<table class="@Html.Css().GridTable">
    <thead>
        <tr>
            <th></th>
            <th>Name</th>
            <th>Description</th>
            <th>XP Awarded</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td><img class="img-thumbnail" src="@item.IconUrl" alt="@item.Name" width="64" /></td>
                <td>@item.Name</td>
                <td>@item.Description</td>
                <td>@item.XpAward</td>
                <td class="link-cell">
                    @Html.ActionLink("Edit", "Edit", new { id = item.TrophyId })
                </td>
            </tr>
        }
    </tbody>
</table>
