@using Mazadaty.Core.Formatting
@model IEnumerable<Mazadaty.Models.Auction>

@{
    ViewBag.Title = Global.AuctionHistory;
}

<table class="@Html.Css().GridTable">
    <thead>
        <tr>
            <th></th>
            <th>@Global.Auction</th>
            <th>@Global.DateSlashTime</th>
            <th>@Global.Amount</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="image-cell">
                    <img class="img-responsive" src="@item.Product.MainImage().ImageSmUrl" alt="@item.Title"/>
                </td>
                <td>@item.Title</td>
                <td>@DateTimeFormatter.ToLocalTime(item.ClosedUtc, DateTimeFormatter.Format.Sortable)</td>
                <td>@CurrencyFormatter.Format(item.WonAmount)</td>
            </tr>
        }
    </tbody>
</table>
