@using Humanizer
@using Mazadaty.Core.Formatting
@using DateTimeFormatter = OrangeJetpack.Base.Core.Formatting.DateTimeFormatter
@model IEnumerable<Mazadaty.Models.Bid>

@{
    ViewBag.Title = Global.BidHistory;
}

<table class="@Html.Css().GridTable">
    <thead>
        <tr>
            <th>@Global.DateSlashTime</th>
            <th>@Global.Auction</th>
            <th>@Global.Amount</th>
            <th>@Global.TimeLeft</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@DateTimeFormatter.ToLocalTime(item.CreatedUtc, DateTimeFormatter.Format.Full)</td>
                <td>@item.Auction.Title</td>
                <td>@CurrencyFormatter.Format(item.Amount)</td>
                <td>@TimeSpan.FromSeconds(item.SecondsLeft).Humanize(4)</td>
            </tr>
        }
    </tbody>
</table>
