@model Mazadaty.Web.Models.User.InboxViewModel

@{
    ViewBag.Title = Global.Inbox;
}

<div class="panel dashboard-panel">
    <div class="panel-body">
        @foreach (var item in Model.Messages)
        {
            <div id="dashboard-header">
                <div class="row" id="dv_@item.Key.Id">

                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-sm-2">
                                <div id="dashboard-avatar">
                                    <img class="img-responsive" src="@item.Key.AvatarUrl" alt="@item.Key.UserName" />
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div id="dashboard-details" class="dashboard-cell">
                                    <div id="dashboard-username" class="text-uppercase">
                                        <a href="@Url.Action("UserProfile", "User", new { area = "", userName = item.Key.UserName })" style="color:#33ace0">@item.Key.UserName</a>
                                    </div>
                                    <div class="dashboard-label" style="word-wrap:break-word">
                                        @Html.Raw(item.Value.Summary)
                                    </div>
                                    <div id="dashboard-level">
                                        <a href="@Url.Action("SendMessage", "friends", new { userName = item.Key.UserName })">
                                            @Global.More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="dashboard-details" class="dashboard-cell">
                                    <div class="dashboard-label">
                                        @item.Value.CreatedUtc
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
