@model Mazadaty.Web.Models.User.MyAvatarsViewModel
@{
    ViewBag.Title = Global.MyAvatars;
}
<div class="row">
    <div class="@Html.Css().FormWide">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <section>
                <div class="form-group">
                    <label>@Global.Avatar</label>
                    <div class="row">
                        @foreach (var item in Model.Avatars)
                        {
                            if (Model.User.AvatarUrl == item.Url)
                            {
                                <div class="col-md-3">
                                    <div class="avatar-container">
                                        <img data-id="@item.AvatarId" src="@item.Url" alt="@item.Url" class="img-thumbnail img-responsive normalImg selectedImg" />
                                        @if (item.IsPremium)
                                        {
                                            <div class="avatar-premium">Premium</div>
                                        }
                                    </div>
                                </div>
                            }
                            else
                            {
                                <div class="col-md-3">
                                    <div class="avatar-container">
                                        <img data-id="@item.AvatarId" src="@item.Url" title="@Global.ClickToSelect" alt="@item.Url" class="img-thumbnail img-responsive normalImg" />
                                        @if (item.IsPremium)
                                        {
                                            <div class="avatar-premium">Premium</div>
                                        }
                                    </div>
                                </div>
                            }

                        }
                        @Html.HiddenFor(i => i.SelectedAvatar)
                    </div>
                </div>

            </section>
            <section class="form-buttons">
                <button id="btnSubmit" type="submit" class="btn btn-default">@Global.Save</button>
            </section>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/js/validate")

    <script>
        (function ($) {

            $(".normalImg").click(function () {

                var $this = $(this);
                var id = $this.attr("data-id");
                $("#@Html.IdFor(i => i.SelectedAvatar)").val(id);
                $(".normalImg").removeClass("selectedImg");
                $this.addClass("selectedImg");
            });

        })(jQuery);

    </script>
}
