@using OrangeJetpack.Base.Web
@using Humanizer
@using Mazadaty.Core.Formatting
@using DateTimeFormatter = Mazadaty.Core.Formatting.DateTimeFormatter
@model Mazadaty.Web.Models.User.UserProfileViewModel

@{
    ViewBag.Title = Model.User.UserName;
}

@section styles{
    <style>
        #page-title {
            display: none;
        }

        .panel-link {
            background-color: #33ACE0 !important;
            color: white !important;
            margin-right: 5px !important;
        }

        #dashboard-level span {
            color:green;
            padding:5px 5px 5px 0
        }
    </style>
}

@section scripts
{
    <script>
        function friendRequest() {
            $.ajax({
                url: '@Url.Content("~/friends/sendrequest")',
                type: 'POST',
                data: { 'userName': '@Model.User.UserName' },
                dataType: 'json',
                success: function (e) {
                    if (e == '1') {
                        $('#dvMessage').html('@Html.Raw(Html.StatusMessage(Global.FriendRequestSuccessMessage).ToString().Replace("'","\""))');
                        $("#dashboard-level span").text('@Global.FriendRequestSent');
                    }
                    else {
                        $('#dvMessage').html('@Html.Raw(Html.StatusMessage(Global.FriendRequestFailMessage, StatusMessageType.Error).ToString().Replace("'","\""))');
                    }
                },
                error: function () {
                    $('#dvMessage').html('@Html.Raw(Html.StatusMessage(Global.FriendRequestFailMessage, StatusMessageType.Error).ToString().Replace("'","\""))');
                }
            });
        }
    </script>
}

<div id="dvMessage">
    @if (Model.User.ProfileStatus == Mazadaty.Models.Enum.UserProfileStatus.Private && !Model.AreFriends)
    {
        @(Model.SentFriendRequestBefore
            ? Html.StatusMessage(Global.FriendRequestSent, StatusMessageType.Information)
            : Html.StatusMessage(Global.PrivateProfileMessage + " " + Global.Click + " <span style='cursor:pointer;color:green' onclick='friendRequest()'> " + Global.Here + "</span> " + Global.ToSendFriendRequestMessage, StatusMessageType.Warning))
        return;
    }
</div>

<div id="dashboard-header">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-sm-3">
                    <div id="dashboard-avatar">
                        <img class="img-responsive" src="@Model.User.AvatarUrl" alt="@Model.User.UserName" />
                    </div>
                </div>
                <div class="col-sm-9">
                    <div id="dashboard-details" class="dashboard-cell">
                        <div id="dashboard-username" class="text-uppercase">@Model.User.UserName</div>
                        <div id="dashboard-level" class="text-uppercase">
                            @Global.Level @Model.User.Level
                        </div>
                        <div id="dashboard-progress">
                            <div class="progress pull-left">
                                <div class="progress-bar" role="progressbar" aria-valuenow="@Model.LevelPercentage" aria-valuemin="0" aria-valuemax="100" style="width: @Model.LevelPercentage%;">
                                    <span class="sr-only">@Model.LevelPercentage% Complete</span>
                                </div>
                            </div>
                            <small>@(Model.User.Xp)/@(Model.NextLevel.XpRequired)</small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-sm-4">
                    <div class="dashboard-cell">
                        <div class="dashboard-number">@Model.User.Xp</div>
                        <div class="dashboard-label text-uppercase">@Global.Experience</div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <a href="@Url.Action("UserTrophies", "User")" class="dashboard-cell">
                        <div class="dashboard-number">@Model.Trophies.Count</div>
                        <div class="dashboard-label text-uppercase">@Global.Trophies</div>
                    </a>
                </div>
                <div class="col-sm-4">
                    <a href="@Url.Action("UserFriends", "User",new { userName=Model.User.UserName})" class="dashboard-cell">
                        <div class="dashboard-number">@Model.Friends.Count</div>
                        <div class="dashboard-label text-uppercase">@(Model.Friends.Count == 1 ? Global.Friend : Global.Friends)</div>
                    </a>
                </div>
            </div>
            @if (Model.AreFriends)
            {
                <div class="row">
                    <div class="col-md-12" style="text-align:right;padding-right:45px;">
                        <a class="btn btn-default btn-rounded text-uppercase" style="padding: 5px 20px;margin-bottom: 10px;"
                           href="@Url.Action("SendMessage", "Friends", new { area = "", userName = Model.User.UserName })">
                            <i class="fa fa-fw fa-envelope"></i>
                            @Global.Chat
                        </a>
                    </div>
                </div>
            }

        </div>
    </div>
</div>
@if (!Model.AreFriends && !Model.SentFriendRequestBefore)
{
    <div id="dashboard-level"><span class="btn btn-link" onclick='friendRequest()'>@Global.SendFriendRequest</span></div>
}
@if (Model.SentFriendRequestBefore)
{
    <div id="dashboard-level"><span >@Global.FriendRequestSent</span></div>
}
