@using Mzayad.Core.Formatting
@model Mzayad.Models.Product

@{
    ViewBag.Title = Model.Name;
}

@section styles
{
    <style>
        dd, dt {
            line-height: 2.5;
        }

        .vido-link {
            padding-top: 15px;
        }

        .spec-span {
            color: #999;
            padding-left: 5px;
        }
        
        .btn-image-selector {
            border: 1px solid transparent !important;
            padding: 0px !important;
        }

            .btn-image-selector:hover {
                border-color: #777 !important;
            }

            .selected {
                border-color: #333 !important;
                cursor: default !important;
            }
            #product-images {
                margin-top: 15px;
            }
    </style>
}

<div class="row">
    <div class="col-md-4">
        <img id="product-image" class="img-responsive" data-zoom-image="@Model.MainImage().ImageLgUrl" alt="@Model.Name" />
        <ul id="product-images" class="list-inline">
            @foreach (var image in Model.ProductImages)
            {
                <li>
                    <button class="btn btn-link btn-image-selector @(Model.MainImage().ImageLgUrl == image.ImageLgUrl ? "selected" : "")" data-lg-img="@image.ImageLgUrl">
                        <img class="img-responsive" src="@image.ImageSmUrl"  alt="" width="72" height="72" />
                    </button>
                </li>
            }
            
        </ul>
    </div>
    <div class="col-md-8">
        <dl class="dl-horizontal">
            <dt>@Global.Name</dt>
            <dd>@Model.Name</dd>
            <dt>@Global.RetailPriceLabel</dt>
            <dd>@CurrencyFormatter.Format(Model.RetailPrice)</dd>
            <dt>@Global.Description</dt>
            <dd>@Html.Raw(Model.Description)</dd>
            @if (Model.SponsorId.HasValue)
            {
                <dt>@Global.Sponsor</dt>
                <dd>@Model.Sponsor.Name</dd>
            }
            
        </dl>
    </div>
    <div class="col-md-12">
        <hr/>
        @if (Model.ProductSpecifications.Any())
        {
            <section>
                @Html.Label(Global.Specifications)
                <br />
                @foreach (var specification in Model.ProductSpecifications)
                {
                    <span>@specification.Specification.Name:</span>
                    <span class="spec-span">@specification.Value</span>
                    <br />
                }
            </section>
        }
        @if (!string.IsNullOrWhiteSpace(Model.VideoUrl))
        {
            <iframe width="50%" height="315" src="@Model.VideoUrl" frameborder="0" allowfullscreen></iframe>
        }
    </div>

</div>
@section scripts
{
    @Scripts.Render("~/js/zoom");
    <script>
        $(function() {

            var animateSetSrc = function(element, valueAccessor, loadingUrl, callback) {
                var url = valueAccessor;
                var img = $(element);
                img.prop("src", loadingUrl);
                window.setTimeout(function() {
                        img.prop("src", url);
                        if (callback !== undefined) {
                            callback();
                        }
                    },
                    500);
            };

            var setZoom = function(element, valueAccessor) {
                animateSetSrc(element,
                    valueAccessor,
                    "//az712326.vo.msecnd.net/assets/loading-555x555-635640109174794029.gif",
                    function() {
                        var $element = $(element);
                        $element.data("zoomImage", $element.attr("data-zoom-image"));
                        $element.elevateZoom({ zoomType: "inner", cursor: "crosshair" });
                    });
            };


            $(function() {
                $(".btn-image-selector").click(function () {
                    var $this = $(this);
                    var largImage = $this.data("lg-img");
                    $("#product-image").data("zoom-image", largImage);
                    setZoom("#product-image", largImage);
                    $(".btn-image-selector").removeClass("selected");
                    $this.addClass("selected");
                });
                
                setZoom("#product-image", "@Model.MainImage().ImageLgUrl");
            });
        });
    </script>
}


