@using Mazadaty.Web.Areas.admin.Models.Auctions
@using Mazadaty.Web.Extensions
@model AddEditViewModel
@{
    var maxQuntity = Model.Product.Quantity - 1;
    if (Model.ActionType == ActionType.Edit)
    {
        if (Model.Auction.BuyNowEnabled && Model.Auction.BuyNowQuantity.HasValue)
        {
            maxQuntity += Model.Auction.BuyNowQuantity.Value;
        }
    }
}

<div class="row">
    <div class="@Html.Css().FormWide">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <section>
                <div class="form-group">
                    @Html.LabelFor(i => i.Auction.ProductId, "Product")
                    @Html.DropDownListFor(i => i.Auction.ProductId, Model.ProductList, new { @class = "form-control" })
                    @Html.ValidationMessageFor(i => i.Auction.ProductId, "Please select a product.")
                    @Html.ValidationMessage("Product")
                </div>

                <div class="form-group">
                    @Html.LabelFor(i => i.Auction.Title, "Title")
                    @Html.EditorFor(i => i.Auction.Title)
                </div>

                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            @Html.LabelFor(i => i.Auction.StartUtc, "Date and Time")
                            @Html.EditorFor(i => i.Auction.StartUtc, "DateTimePicker")
                            @Html.ValidationMessageFor(i => i.Auction.StartUtc, "Please select a valid date and time.")
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group form-group-md">
                            @Html.LabelFor(i => i.Auction.Duration, "Duration")
                            <div class="input-group">
                                @Html.TextBoxFor(i => i.Auction.Duration, new { @class = "form-control", @type = "number" })
                                <span class="input-group-addon" style="font-size: 80%;">minutes</span>
                            </div>
                            @Html.ValidationMessageFor(i => i.Auction.Duration, "Please enter a auction bid duration.")
                        </div>
                    </div>
                </div>

                <div class="form-group">
                    <label>Status</label>
                    @foreach (var item in Model.StatusList)
                    {
                        <div class="radio">
                            <label>
                                @if (item.Selected)
                                {
                                    @Html.RadioButtonFor(i => i.Auction.Status, item.Value, new { @checked = "checked" })
                                    @Html.Raw(item.Text)
                                }
                                else
                                {
                                    @Html.RadioButtonFor(i => i.Auction.Status, item.Value)
                                    @Html.Raw(item.Text)
                                }
                            </label>
                        </div>
                    }
                </div>
            </section>
            <section>
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="form-group">
                            <div class="form-group">
                                @Html.LabelFor(i => i.Auction.RetailPrice, "Retail Price")
                                <div class="input-group">
                                    @Html.TextBoxFor(i => i.Auction.RetailPrice, new { @class = "form-control", @type = "number" })
                                    <span class="input-group-addon">KD</span>
                                </div>
                                @Html.ValidationMessageFor(i => i.Auction.RetailPrice, "Please enter a price.")
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="form-group">
                            <div class="form-group">
                                @Html.LabelFor(i => i.Auction.ReservePrice, "Reserve Price")
                                <div class="input-group">
                                    @Html.TextBoxFor(i => i.Auction.ReservePrice, new { @class = "form-control", @type = "number" })
                                    <span class="input-group-addon">KD</span>
                                </div>
                                @Html.ValidationMessageFor(i => i.Auction.ReservePrice, "Please enter a price.")
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="form-group">
                            <div class="form-group">
                                @Html.LabelFor(i => i.Auction.MaximumBid, "Maximum Bid")
                                <div class="input-group">
                                    @Html.TextBoxFor(i => i.Auction.MaximumBid, new { @class = "form-control", @type = "number" })
                                    <span class="input-group-addon">KD</span>
                                </div>
                                @Html.ValidationMessageFor(i => i.Auction.MaximumBid, "Please enter a maximum bid.")
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6">
                        <div class="form-group">
                            <div class="form-group">
                                @Html.LabelFor(i => i.Auction.BidIncrement, "Bid Increment")
                                <div class="input-group">
                                    @Html.TextBoxFor(i => i.Auction.BidIncrement, new { @class = "form-control", @type = "number" })
                                    <span class="input-group-addon">KD</span>
                                </div>
                                @Html.ValidationMessageFor(i => i.Auction.BidIncrement, "Please enter a bid increment.")
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            <label>
                                @Html.CheckBoxFor(i => i.Auction.AutoBidEnabled) Auto Bid Enabled
                            </label>
                        </div>
                    </div>
                </div>
                
            </section>
            <section>
                <div class="row">
                    <div class="col-lg-3 col-md-4">
                        <div class="form-group">
                            <label>@Html.CheckBoxFor(m => m.Auction.BuyNowEnabled) Enable Buy Now</label>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="form-group form-group-disableable">
                            @Html.LabelFor(i => i.Auction.BuyNowPrice, "Buy Now Price")
                            <div class="input-group">
                                @Html.TextBoxFor(i => i.Auction.BuyNowPrice, new { @class = "form-control", @type = "number" })
                                <span class="input-group-addon">KD</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4">
                        <div class="form-group form-group-disableable">
                            @Html.LabelFor(i => i.Auction.BuyNowQuantity, "Buy Now Quantity")
                            <div class="input-group">
                                @Html.TextBoxFor(i => i.Auction.BuyNowQuantity, new { @class = "form-control", @type = "number", @max = maxQuntity })
                                <span class="input-group-addon">items</span>
                            </div>
                            @Html.ValidationMessageFor(i => i.Auction.BuyNowQuantity)
                        </div>
                    </div>
                </div>
            </section>
            <section>
                <label>Country List</label>
                <div class="row">
                    @foreach (SelectListItem country in Model.GccCountryList)
                    {
                        <div class="col-md-6">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" class="country-list" @(country.Selected ? "checked='checked'" : "") name="countryList" value="@country.Value" /> <i class="flag flag-@country.Value.ToLowerInvariant()"></i> @country.Text
                                </label>
                            </div>
                        </div>
                    }
                </div>
                @Html.ValidationMessage("countryList")
            </section>
            <section>
                @Html.ValidationMessage("Quantity")
            </section>

            <section class="form-buttons">
                @Html.HiddenFor(i => i.Auction.CreatedByUserId)
                <button type="submit" class="btn btn-default">Save</button>
            </section>

        }
    </div>
</div>
