@using OrangeJetpack.Localization
@model Mzayad.Web.Models.Order.OrderSummaryViewModel

@{
    ViewBag.Title = Global.OrderSummary;

}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" style="display: inline-block">@Global.OrderItems</h3>
        </div>
        <div class="panel-body form-horizontal">
            @foreach (var item in Model.Order.Items)
            {
                <div class="form-group">
                    <label class="col-sm-2 control-label">@Global.ItemName</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">
                            @item.Localize(Model.Language, i => i.Name).Name
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">@Global.ItemPrices</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">
                            @item.ItemPrice
                        </p>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">@Global.Quantity</label>
                    <div class="col-sm-10">
                        <p class="form-control-static">
                            @item.Quantity
                        </p>
                    </div>
                </div>
                <hr />
            }

            <div class="form-group">
                <label class="col-sm-2 control-label">@Global.Total</label>
                <div class="col-sm-10">
                    <p class="form-control-static">
                        @{
                            Model.Order.RecalculateTotal();
                        }
                        @Model.Order.Total
                    </p>
                </div>
            </div>

        </div>
    </div>

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" style="display: inline-block">@Global.ShippingAddress</h3>
        </div>
        <div class="panel-body form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">@Global.FirstName</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.Order.Address.Name</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">@Global.LastName</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.Order.Address.LastName</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">@Global.Email</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.Order.Address.Email</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">@Global.PhoneNumber</label>
                <div class="col-sm-10">
                    <p class="form-control-static">@Model.Order.Address.PhoneNumber</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">@Global.AllowPhoneSmsLabel</label>
                <div class="col-sm-10">
                    <p class="form-control-static">
                        @if (Model.Order.AllowPhoneSms)
                        {
                            <span>@Global.Yes</span>
                        }
                        else
                        {
                            <span>@Global.No</span>
                        }
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title" style="display: inline-block">@Global.OrderDetail</h3>
        </div>
        <div class="panel-body form-horizontal">
            <div class="form-group">
                <label class="col-sm-2 control-label">@Global.PaymentMethod</label>
                <div class="col-sm-10">
                    <p class="form-control-static">
                        @Html.DropDownListFor(m => m.Order.PaymentMethod, Model.PaymentMethod, new {@class = "form-control"})
                    </p>
                </div>
            </div>

        </div>
    </div>
    <section class="form-buttons">
        <button type="submit" class="btn btn-default">@Global.SaveAndContinue</button>
        <a onclick="history.go(-1);" class="btn btn-primary">@Global.Back</a>
    </section>
}