@using Mzayad.Web.Extensions
@model Mzayad.Web.Areas.Admin.Models.Trophies.EditViewModel

@{
    ViewBag.Title = "Edit Trophy";
}

<div class="row">
    <div class="@Html.Css().FormNormal">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <section>

                <div class="form-group">
                    @Html.LabelFor(model => model.Trophy.Name)
                    @Html.EditorFor(model => model.Trophy.Name)
                    @Html.ValidationMessageFor(model => model.Trophy.Name, "Please add a trophy name.")
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Trophy.Description)
                    @Html.EditorFor(model => model.Trophy.Description)
                    @Html.ValidationMessageFor(model => model.Trophy.Description, "Please add a trophy description")
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Trophy.IconUrl, "Icon URL")
                    @Html.EditorFor(model => model.Trophy.IconUrl, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Trophy.IconUrl, "", new { @class = "text-danger" })
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Trophy.XpAward, "XP Award")
                    @Html.TextBoxFor(model => model.Trophy.XpAward, new { @class = "form-control", type = "number", min = "0" })
                    @Html.ValidationMessageFor(model => model.Trophy.XpAward, "Please enter a valid XP amount.")
                </div>

            </section>

            <section class="form-buttons">
                <button type="submit" class="btn btn-default">Save</button>
            </section>
        }
    </div>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $("input[type='text'].localized-input[data-language='ar']").each(function () {
                $(this).css("direction", "rtl");
            });
        });
    </script>
}
