@using Mzayad.Web.Extensions
@model IEnumerable<Mzayad.Models.Trophy>

@{
    ViewBag.Title = "Trophies";

}
<table class="@Html.Css().GridTable">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Icon URL</th>
            <th>
                XP Awarded
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td><small>@Html.DisplayFor(modelItem => item.IconUrl)</small>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.XpAward)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.TrophyId })
                </td>
            </tr>
        }
    </tbody>
</table>
