@using Mazadaty.Core.Formatting
@using Mazadaty.Web.Models.Subscriptions
@using OrangeJetpack.Base.Core.Formatting
@using DateTimeFormatter = OrangeJetpack.Base.Core.Formatting.DateTimeFormatter
@model BuyNowViewModel

@{
    ViewBag.Title = StringFormatter.ObjectFormat(Global.BuySubscriptionWithName, Model);
}

<p class="instruction">
    @Html.Raw(StringFormatter.ObjectFormat(Global.SubscriptionBuyInstructions, new
    {
        Model.Subscription.Name,
        FormattedPrice = Model.Subscription.FormattedPrice(),
        Model.Subscription.Duration,
        NewExpiration = DateTimeFormatter.ToLocalTime(Model.NewExpirationUtc, DateTimeFormatter.Format.Full)
    }))
</p>

@using (Html.BeginForm("BuyWithKnet", "Subscriptions", new { Model.Subscription.SubscriptionId }))
{
    @Html.AntiForgeryToken()
    
    <p class="text-center">

        @if (Model.Subscription.PriceCurrencyIsValid)
        {
            <button type="submit" class="btn btn-default">@StringFormatter.ObjectFormat(Global.BuyForPriceKd, new { FormattedPrice = CurrencyFormatter.Format(Model.Subscription.PriceCurrency) })</button>
        }

        @if (Model.Subscription.PriceTokensIsValid)
        {
            <a href="@Url.Action("BuyWithTokens", new { Model.Subscription.SubscriptionId })" class="btn btn-default">@StringFormatter.ObjectFormat(Global.BuyForPriceTokens, new { Model.Subscription.PriceTokens })</a>
        }

    </p>
}
