@using Mazadaty.Web.Extensions
@using Newtonsoft.Json
@model Mazadaty.Web.Areas.admin.Models.Categories.EditViewModel
@{
    ViewBag.Title = "Edit Category";
}

<div class="row">
    <div class="@Html.Css().FormNarrow">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <section>
                <div class="form-group">
                    @Html.LabelFor(i => i.Category.Name, "Name")
                    @Html.EditorFor(i => i.Category.Name)
                    @Html.ValidationMessageFor(m => m.Category.Name, "Please enter a category name.")
                </div>
                <div class="form-group">
                    @Html.LabelFor(i => i.ParentId, "Parent")
                    @Html.DropDownListFor(m => m.Category.ParentId, Model.Categories, "Parent Category", new {@class = "form-control"})
                </div>
                <div class="form-group">
                    @Html.LabelFor(i => i.Category.Slug, "URL")
                    <div class="input-group">
                        <span class="input-group-addon">/categories/</span>
                        @Html.TextBoxFor(i => i.Category.Slug, new {@class = "form-control"})
                    </div>
                    @Html.ValidationMessageFor(i => i.Category.Slug, "Please enter a valid and unique URL.")
                </div>
            </section>

            <section class="form-buttons">
                <button type="submit" class="btn btn-default">Save</button>
                <button type="button" id="btnDelete" class="btn btn-danger">Delete</button>
            </section>
        }
    </div>
</div>

@using (Html.BeginForm("Delete", "Categories", new { id = Model.Category.CategoryId }, FormMethod.Post, new { id = "delete" }))
{
    @Html.AntiForgeryToken()
}

@section scripts {
    @Scripts.Render("~/js/validate")
    @Scripts.Render("~/js/slugify")

    <script>
        (function ($) {

            var existingSlugs = @Html.Raw(JsonConvert.SerializeObject(Model.ExistingSlugs));

            $("#Category_Slug").slugify("#Name_0_Value", false)
                               .addSlugErrorValidation(existingSlugs);

            $("#btnDelete").click(function () {
                var categoryWarningText = "Are you sure you want to permanently delete this category?";
                var submitForm = confirm(categoryWarningText);

                if (submitForm)
                    $('#delete').submit();
            });

        })(jQuery);
    </script>
}
