@using Kendo.Mvc.UI
@using Mzayad.Web.Extensions
@using OrangeJetpack.Base.Web
@model Mzayad.Web.Areas.admin.Models.Auction.IndexViewModel

@{
    ViewBag.Title = "Auctions"; 
}

@using (Html.BeginForm(null, null, FormMethod.Get, new { @class = "form-inline form-search" }))
{
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            @Html.TextBoxFor(m => m.Search, new { @class = "form-control", placeholder = "Search auctions" })
        </div>
    </div>
}

<ul class="link-list">
    <li>@Html.ActionLink("Create New Auction", "SelectProduct", "Auctions")</li>
    <li><a href="@Url.Action("DownloadExcel", "Auctions", new { search = Model.Search })"><i class="fa fa-file-excel-o fa-pad-right"></i>Download Excel</a></li>
</ul>

@if (!Model.Auctions.Any())
{
    @Html.StatusMessage("No auction match search criteria.", StatusMessageType.Warning)

    return;
}

@(Html.Kendo().Grid(Model.Auctions)
                    .Init(ajax => ajax.Action("GetAuctions", "Auctions", new { search = Model.Search }))
    .Columns(columns =>
    {
        columns.Bound(i => i.Title).Title("Title");
        columns.Bound(i => i.Status).ClientTemplate("#= getLabel(data) #");
        columns.Bound(i => i.StartUtc).Format("{0:dd/MM/yyyy HH:mm}").Title("Start");
        columns.Bound(i => i.Duration).Format("{0} minutes");
        columns.Bound(i => i.BuyNowEnabled).Title("Buy Now").ClientTemplate("#= kendoFormatter.getYesNo(data.BuyNowEnabled) #"); ;
        columns.LinkColumn("Details", "auctions/edit/#=AuctionId#");
    })
)

@using (Html.BeginForm("Activate", "Auctions"))
{
    @Html.AntiForgeryToken()
    <input type="hidden" id="AuctionId" name="AuctionId" />
}

@section scripts {
    <script>

        (function($) {

            $(function () {
                bindEvents();
            });

            var bindEvents = function() {
                $(".activate-auction").on("click", activateAuction);
            };

            var activateAuction = function() {
                var $this = $(this);
                var auctionId = $this.data("auctionId");
                $("#AuctionId").val(auctionId).parent().submit();
            };

        })(jQuery);

        var getLabel = function (auction) {
            if (auction.Status === 1) {
                return "<span class='label label-warning'>Hidden</span> <button class='activate-auction btn btn-link btn-xs' data-auction-id='" + auction.AuctionId + "'>Activate</button>";
            } else {
                return "<span class='label label-success'>Public</span>";
            }
        }
   
    </script>
}
