@using Mazadaty.Web.Extensions
@model Mazadaty.Models.IslamicCalendar

@{
    ViewBag.Title = "Edit Islamic Calendar";
}

<div class="row">
    <div class="@Html.Css().FormNormal">

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <section>

                <div class="form-group">
                    @Html.LabelFor(model => model.HijriYear)
                    @Html.EditorFor(model => model.HijriYear)
                    @Html.ValidationMessageFor(model => model.HijriYear, "Please Hijri Year.")
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.NewYear)
                    @Html.TextBoxFor(model => model.NewYear)
                    @Html.ValidationMessageFor(model => model.NewYear, "Please add New Year date")
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EidFetrFrom)
                    @Html.TextBoxFor(model => model.EidFetrFrom)
                    @Html.ValidationMessageFor(model => model.EidFetrFrom, "Please add Eid Fetr from date")
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EidFetrTo)
                    @Html.TextBoxFor(model => model.EidFetrTo)
                    @Html.ValidationMessageFor(model => model.EidFetrTo, "Please add Eid Fetr to date")
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EidAdhaFrom)
                    @Html.TextBoxFor(model => model.EidAdhaFrom)
                    @Html.ValidationMessageFor(model => model.EidAdhaFrom, "Please add Eid Adha from date")
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EidAdhaTo)
                    @Html.TextBoxFor(model => model.EidAdhaTo)
                    @Html.ValidationMessageFor(model => model.EidAdhaTo, "Please add Eid Adha to date")
                </div>

            </section>

            <section class="form-buttons">
                <button type="submit" class="btn btn-default">Save</button>
            </section>
        }
    </div>
</div>
