@using Mzayad.Core.Formatting
@model Mzayad.Web.Models.Friends.SendMessageViewModel

@section styles
{
    <style>
        
         .date {
             color: #4D4D4D;
             font-size: 12px;
             padding-left: 10px;
             font-weight: normal !important;
         }

        .msg-user {
            margin-top: 10px;
        }
        h2 {
            font-size: 16px;
            font-weight: bold;
        }

        .msg-border {
            border-bottom: solid 1px #bbb;
            margin-bottom: 10px;
            padding-bottom: 10px;
        }

        .form-begin {
            margin-top: 30px;
        }
        .no-padding {
            padding: 0px !important;
        }
        .btn-default {
            width: 100%;
            height: 50px;
        }
        textarea {
            height: 50px !important;
            width: 95% !important;
        }
    </style>
}

@{
    ViewBag.Title = Global.ConverstionWith + " " + Model.Message.User.UserName;
}

<div class="row">
    <div class="@Html.Css().FormNormal">
        @foreach (var message in Model.History)
        {
            <div class="row">
                <div class="col-xs-12 msg-border">
                    <div class="row">
                        <div class="col-xs-1 no-padding">
                            <img class="img-responsive img-thumbnail img-circle" src="@message.User.AvatarUrl" />
                        </div>
                        <div class="col-xs-11">
                            <div class="msg-user">
                                <h2>
                                    @message.User.FullName <span class="date">@DateTimeFormatter.ToLocalTime(message.CreatedUtc)</span>
                                </h2>
                            </div>
                            <div>
                                @Html.Raw(message.Body)
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }
        <div class="row form-begin">
            <div class="@Html.Css().FormWide">
                @using (Html.BeginForm())
            {
                    @Html.AntiForgeryToken()
                    <div class="form-group">
                        <div class="row">
                            <div class="col-xs-10 no-padding">
                                @Html.TextAreaFor(i => i.Message.Body, new { @class = "form-control" })
                                @Html.ValidationMessageFor(i => i.Message.Body, Global.EmptyMessageErrorMessage)
                            </div>
                            <div class="col-xs-2 no-padding">
                                <button type="submit" onclick="updateEditor();" class="btn btn-default">@Global.Send</button>
                            </div>
                        </div>

                    </div>


                }
            </div>
        </div>

    </div>
</div>



@section scripts {
    @Scripts.Render("~/js/validate")
    <script src="//cdn.ckeditor.com/4.4.4/basic/ckeditor.js"></script>
    <script>
        (function ($) {
            $(function () {
                //initCkEditor();

            });
            var initCkEditor = function () {
                $("textarea").each(function () {
                    CKEDITOR.replace(this.id, { height: 300 });
                });
            };
        })(jQuery);

        function updateEditor() {
            for (instance in CKEDITOR.instances) {
                CKEDITOR.instances[instance].updateElement();
            }
        }
    </script>
}

