@using Kendo.Mvc.UI
@using Mazadaty.Web.Extensions
@using OrangeJetpack.Base.Core.Formatting
@model Mazadaty.Web.Areas.admin.Models.Orders.IndexViewModel
@{
    ViewBag.Title = "Orders";
}

@using (Html.BeginForm(null, null, FormMethod.Get, new { @class = "form-inline form-search" }))
{
    <div class="form-group">
        <div class="input-group">
            <span class="input-group-addon"><i class="fa fa-search"></i></span>
            @Html.TextBoxFor(m => m.Search, new { @class = "form-control", placeholder = "Search name or phone number..." })
        </div>
    </div>
    <div class="form-group">
        @Html.DropDownListFor(m => m.Status, Model.OrderStatusList, new { @class = "form-control auto-submit" })
    </div>
}

<ul class="link-list">
    <li><a href="@Url.Action("OrdersExcel", "Orders", new { search = Model.Search, status = Model.Status })"><i class="fa fa-file-excel-o fa-pad-right"></i>Export to Excel</a></li>
</ul>

@if (!Model.Orders.Any())
{
    <div class="alert alert-warning">There are currently no orders with status <strong>@EnumFormatter.Description(Model.Status)</strong>.</div>
}
else
{
    @(Html.Kendo().Grid(Model.Orders)
      .Init(ajax => ajax.Action("GetOrders", "Orders", new { orderStatus = Model.Status, search = Model.Search }))
      .Columns(columns =>
      {
          columns.Bound(i => i.OrderId);
          columns.Bound(i => i.Address.Name);
          columns.Bound(i => i.Address.CountryCode).Title("Country");
          columns.Bound(i => i.Total).ClientTemplate("KD #=Total#");
          columns.Bound(i => i.SubmittedUtc).Title("Submitted").Format("{0:dd/MM/yyyy}");
          columns.Bound(i => i.ShippedUtc).Title("Delivered").Format("{0:dd/MM/yyyy}");
          columns.LinkColumn("Details", "orders/details/#=OrderId#");
      }))
}
