@using Mzayad.Core.Formatting
@model Mzayad.Web.Core.ShoppingCart.ShoppingCart
@{
    ViewBag.Title = Global.ShoppingCart;
}

@section styles {
    <style>
        #cart-buttons {
            margin-bottom: 2em;
        }

        #cart-prices {
            margin-bottom: 1em;
        }
    </style>
}
@using (Html.BeginForm("CreateOrder", "Checkout", new { Language = LanguageCode }, FormMethod.Post, new { @class = "single-submit" }))
{
    @Html.AntiForgeryToken()

    if (!Model.Items.Any())
    {
        <div class="alert alert-warning">@Global.CartIsEmptyMessage</div>
        return;
    }

    <table id="cart-table" class="@Html.Css().LayoutTable">
        <thead>
            <tr>
                <th class="hidden-xs"></th>
                <th>@Global.Product</th>
                <th>@Global.Price</th>
                <th>@Global.Quantity</th>
                <th class="hidden-xs">@Global.Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @{ int index = -1; }
        @foreach (var item in Model.Items)
        {
            ++index;
            <tr>
                <td class="fit-cell hidden-xs">
                    <img src="@item.ImageUrl" alt="@item.Name" width="102" height="102"/>
                </td>
                <td>
                    <h3 class="text-uppercase">@item.Name</h3>
                </td>
                <td>
                    @CurrencyFormatter.Format(item.ItemPrice)
                </td>
                <td>
                    <input type="hidden" name="CartItems.Index" value="@index"/>
                    <input type="hidden" name="CartItems[@index].Name" value="@item.Name"/>
                    <input type="hidden" name="CartItems[@index].ProductId" value="@item.ProductId"/>
                    <input type="hidden" name="CartItems[@index].ImageUrl" value="@item.ImageUrl"/>
                    <input type="hidden" name="CartItems[@index].ItemPrice" value="@item.ItemPrice"/>
                    <input type="hidden" name="CartItems[@index].AddedUtc" value="@item.AddedUtc"/>
                    <input type="hidden" name="CartItems[@index].Quantity" value="@item.Quantity"/>
                    <input type="hidden" name="CartItems[@index].AuctionId" value="@item.AuctionId" />
                    @*<input type="number" name="CartItems[@item.ProductId].Quantity" class="form-control form-control-sm item-quantity" value="@item.Quantity" min="0" />*@
                    @item.Quantity
                </td>
                <td class="hidden-xs">
                    @CurrencyFormatter.Format(item.TotalPrice)
                </td>
                <td class="fit-cell">
                    <button data-id="@item.ProductId" title="@Global.Remove" type="button" class="btn btn-link btn-remove-item"><i class="fa fa-times"></i></button>
                </td>
            </tr>
        }
        </tbody>

    </table>

    <div id="cart-prices" class="text-right">
        @Html.Raw(string.Format(Global.TotalLabelWithValue, CurrencyFormatter.Format(Model.TotalPrice)))
    </div>

    <div id="checkout-buttons" class="text-right">
        <button type="submit" class="btn btn-default" data-submitting-text="@Global.Saving">@Global.ContinueToCheckout</button>
    </div>
}

@section scripts {
    <script>
        (function ($) {

            var removeItemFromCart = function (id) {
                $.ajax({
                    url: '@Url.Action("RemoveItemFormCart", "Shop")?productId=' + id,
                    type: "POST",
                    data: { productId: id },
                    success: function () {
                        location.reload();
                    }
                });
            };

            $(function () {
                $("#cart-table").on("click", ".btn-remove-item", function() {

                    if (confirm("Are you sure you want to delete this item from shop bag?")) {
                        var id = $(this).data("id");
                        removeItemFromCart(id);
                    }

                });
            });

        })(jQuery);
    </script>
}
