@using Microsoft.AspNet.Identity
@using Newtonsoft.Json
@using Newtonsoft.Json.Serialization
@using OrangeJetpack.Base.Web
@model Mzayad.Web.Models.Home.IndexViewModel

@{
    ViewBag.Title = Global.Home;
}

@section styles {
    @Styles.Render("~/css/nivo")
}

@if (!User.Identity.IsAuthenticated || true)
{
    <p><img class="img-responsive" src="https://az723232.vo.msecnd.net/assets/hero-movie-635750647415139708.jpg" alt="" /></p>
}

@if (Model.ClosedAuctions.Any())
{
    <ul id="closed-auctions">
        @foreach (var auction in Model.ClosedAuctions)
        {
            <li>@Html.DisplayFor(m => auction, "AuctionTile")</li>
        }
    </ul>

    <p class="text-center"><a class="btn btn-unstyled text-uppercase" href="@Url.Action("Closed", "Auctions", new { Area = "", Language = LanguageCode })">@Global.ViewAllClosedAuctions</a></p>
}

@if (!Model.LiveAuctions.Any())
{
    @Html.StatusMessage("There are no live auctions available at this time.", StatusMessageType.Warning)

    return;
}

<ul id="auction-list" data-bind="foreach: auctions">
    <li class="auction-item">
        <div class="row">
            <div class="col-md-6">
                <img class="auction-image img-responsive" data-bind="attr: { src: images[0].imageMdUrl, alt: title }" alt="">
            </div>

            <div class="col-md-6">

                <div class="auction-details">
                    <h2 class="auction-title" data-bind="text: title"></h2>
                    <div class="auction-retail-price" data-bind="text: retailPriceFormatted"></div>

                    <div class="auction-status-loading" data-bind="visible: !isLoaded()">
                        <i class="fa fa-spin fa-cog"></i>
                        Loading...
                    </div>

                    <div class="auction-status-details" data-bind="visible: isLoaded()">

                        <ol class="auction-time-left">
                            <li class="auction-time-part">
                                <div class="auction-time-value" data-bind="text: timeLeftHours"></div>
                                <div class="auction-time-label"><small>Hours</small></div>
                            </li>
                            <li class="auction-time-part">
                                <div class="auction-time-value" data-bind="text: timeLeftMinutes"></div>
                                <div class="auction-time-label"><small>Minutes</small></div>
                            </li>
                            <li class="auction-time-part">
                                <div class="auction-time-value" data-bind="text: timeLeftSeconds"></div>
                                <div class="auction-time-label"><small>Seconds</small></div>
                            </li>
                        </ol>

                        <div class="clearfix"></div>

                        <div class="row">
                            <div class="auction-bid-details col-md-8">
                                <div class="auction-bid-label"><small>Current Auction Price</small></div>
                                <div class="auction-bid-form input-group">
                                    <input type="text" class="form-control" readonly="readonly" data-bind="value: lastBidFormatted">
                                    <span class="input-group-btn">
                                        @if (Request.IsAuthenticated)
                                        {
                                            <button type="button" class="btn btn-default" data-bind="click: submitBid">Bid</button>
                                        }
                                        else
                                        {
                                            <a class="btn btn-default" href="@Url.Action("SignIn", "Account", new {ReturnUrl = "/"})">Bid</a>
                                        }
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="buy-now" data-bind="if: buyNowEnabled">
                    <a class="btn btn-default" data-bind="attr: { href: buyNowUrl }">@Global.BuyNow</a>
                </div>
            </div>
        </div>
    </li>
</ul>

@section scripts {

    @Scripts.Render("~/js/knockout")
    @Scripts.Render("~/js/signalR")
    <script src="/signalr/hubs"></script>
    <script>

        $(function() {

            var auctions = @Html.Raw(JsonConvert.SerializeObject(Model.LiveAuctions, Formatting.Indented, new JsonSerializerSettings {ContractResolver = new CamelCasePropertyNamesContractResolver()}));
            var auctionIds = @JsonConvert.SerializeObject(Model.LiveAuctionIds);

            var Auction = function(data) {
                var self = this;

                self.auctionId = data.auctionId;
                self.title = data.title;
                self.description = data.description;
                self.specifications = data.specifications;
                self.retailPrice = data.retailPrice;
                self.buyNowEnabled = data.buyNowEnabled;
                self.images = data.images;

                self.status = ko.observable(data.status);
                self.isLoaded = ko.observable(false);
                self.timeLeft = ko.observable();
                self.lastBidAmount = ko.observable(data.lastBidAmount);
                self.lastBidUser = ko.observable(data.lastBidUser);
                self.startUtc = ko.observable(data.startUtc);

                self.timeLeftHours = ko.computed(function() {
                    return App.TimeUtilities.getHours(self.timeLeft());
                });

                self.timeLeftMinutes = ko.computed(function() {
                    return App.TimeUtilities.getMinutes(self.timeLeft());
                });

                self.timeLeftSeconds = ko.computed(function() {
                    return App.TimeUtilities.getSeconds(self.timeLeft());
                });

                self.buyNowUrl = ko.computed(function() {
                    return "@LanguageCode/orders/buy-now/" + self.auctionId;
                });

                self.retailPriceFormatted = ko.computed(function() {
                    return "Retail Price: " + self.retailPrice;
                });

                self.timeLeftFormatted = ko.computed(function() {
                    return TimeUtilities.getTimeLeft(self.timeLeft());
                });

                self.lastBidFormatted = ko.computed(function() {
                    if (!self.lastBidAmount()) {
                        return "";
                    }

                    return "KD " + self.lastBidAmount();
                });

                self.startTimeFormatted = ko.computed(function() {
                    return "Starting: " + moment(self.startUtc()).format('D MMM HH:mm');
                });

                self.submitBid = function() {
                    auctionHub.server.submitBid(self.auctionId);
                };

                self.closeAuction = function() {
                    self.status("Closed");
                };

                self.redirectOrder = function(orderId) {
                    location.href = "@LanguageCode/orders/auction/" + orderId;
                };
            };

            var AuctionsViewModel = function(data) {
                var self = this;
                self.auctions = ko.observableArray([]);

                self.getAuction = function(auctionId) {
                    for (var i = 0, len = self.auctions().length; i < len; i++) {
                        if (self.auctions()[i].auctionId === auctionId)
                            return self.auctions()[i];
                    }
                    return null;
                };

                var mappedAuctions = $.map(data, function(auction) { return new Auction(auction); });
                self.auctions(mappedAuctions);
            };

            var viewModel = new AuctionsViewModel(auctions);
            ko.applyBindings(viewModel);

            var auctionHub = $.connection.auctionHub;

            auctionHub.client.updateAuctions = function(results) {
                console.log(results);
                var auctionJson = $.parseJSON(results);
                for (var i = 0, len = auctionJson.length; i < len; ++i) {
                    var auction = auctionJson[i];
                    var auctionDetail = viewModel.getAuction(auction.id);
                    if (auctionDetail) {
                        auctionDetail.timeLeft(auction.t);
                        auctionDetail.lastBidAmount(auction.a);
                        auctionDetail.lastBidUser(auction.u);
                        auctionDetail.isLoaded(true);
                    }
                }
            };

            auctionHub.client.closeAuction = function(auctionId, userId, orderId) {
                var auction = viewModel.getAuction(auctionId);
                if (auction) {
                    auction.closeAuction();
                    if (userId === "@User.Identity.GetUserId()") {
                        auction.redirectOrder(orderId);
                    }
                }
            }

            $.connection.hub.logging = true;
            $.connection.hub.start().done(function() {
                auctionHub.server.initAuctions(auctionIds).done(function(results) {
                    console.log(results);
                });
            });
        });

    </script>
}
