@model List<Level>
@using Mzayad.Models
@using Mzayad.Web.Extensions
@{
    ViewBag.Title = "Levels (0 - 100)";
}

<table class="@Html.Css().GridTable">
    <thead>
        <tr>
            <th>Level</th>
            <th>XP Required ( @Level.XpBase * Level<sup>2</sup> )</th>
            <th>Tokens Awarded ( 5 * Level )</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var level in Model)
        {
            <tr>
                <td>@level.Name</td>
                <td>@level.XpRequired</td>
                <td>@level.TokensAwarded</td>
            </tr>
        }
    </tbody>
</table>

