@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    @RenderSection("styles", false)
}

<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-5">
        <ul class="menu-list">
            <li><a href="@Url.Action("EditAccount")"><i class="fa fa-fw fa-pad-right fa-user"></i>@Global.EditAccount</a></li>
            <li><a href="@Url.Action("ChangePassword")"><i class="fa fa-fw fa-pad-right fa-lock"></i>@Global.ChangePassword</a></li>
            <li><a href="@Url.Action("Notifications")"><i class="fa fa-fw fa-pad-right fa-bullhorn"></i>@Global.Notifications</a></li>
        </ul>
    </div>
    <div class="col-lg-9 col-md-8 col-sm-7">
        @RenderBody()
    </div>
</div>

@section scripts {
    @RenderSection("scripts", false)
}