@using Newtonsoft.Json
@model Mzayad.Web.Models.Account.UserAccountViewModel

@{
    ViewBag.Title = Global.EditAccount;
}
@section styles {
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="/content/flags/flags.css"/>

    <style>
        .radio label:last-child {
            margin-left: 100px;
        }

        #phoneNumber {
            direction: ltr !important;
        }
    </style>
}

<div class="row">
    <div class="@Html.Css().FormNormal">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(i => i.PhoneCountryCode)

            <section>
                <div class="form-group">
                    @Html.LabelFor(m => m.FirstName, Global.FirstName).Required("Required")
                    @Html.TextBoxFor(m => m.FirstName, new { @class = "form-control", autocorrect = "off", spellcheck = "false", autofocus = "autofocus" })
                    @Html.ValidationMessageFor(m => m.FirstName, Global.FirstNameRequiredErrorMessage)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.LastName, Global.LastName).Required()
                    @Html.TextBoxFor(m => m.LastName, new {@class = "form-control", autocorrect = "off", spellcheck = "false"})
                    @Html.ValidationMessageFor(m => m.LastName, Global.LastNameRequiredErrorMessage)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, Global.Email).Required()
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-fw fa-envelope"></i></span>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control", type = "email" })
                    </div>
                    @Html.ValidationMessageFor(m => m.Email, Global.EmailRequiredErrorMessage)
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.PhoneNumber, "Phone Number").Required()
                    <div id="phoneNumber" class="input-group">
                        <div class="input-group-addon">
                            <span>@Model.PhoneCountryCode</span>
                        </div>
                        @Html.TextBoxFor(m => m.PhoneNumber, new { @class = "form-control", type = "tel" })
                    </div>
                    @Html.ValidationMessageFor(m => m.PhoneNumber, "Please enter a valid phone number.")
                </div>
            </section>

            @Html.EditorFor(m => m.Address)

            <section class="form-buttons">
                <button type="submit" class="btn btn-default">@Global.Save</button>
            </section>
        }
    </div>
</div>



@section Scripts {
    @Scripts.Render("~/js/jquery-ui")
    @Scripts.Render("~/js/validate")
    <script src="~/scripts/address.js"></script>
    <script>
        (function($) {

            $(".date-picker").datepicker({
                changeMonth: true,
                changeYear: true,
                dateFormat: "dd/mm/yy"
            });

            $(function() {
                initAutocomplete();
            });

            var initAutocomplete = function() {
                var areas =  @Html.Raw(JsonConvert.SerializeObject(Model.Address.KuwaitAreas));
                $(".kuwait-area").autocomplete({
                    source: areas
                });
            };

        })(jQuery);
    </script>
}