@using OrangeJetpack.Base.Web

@model IEnumerable<Mzayad.Web.Models.User.UserProfileViewModel>

@{
    ViewBag.Title = Global.TheFriends;
}
<div id="dvMessage"></div>

@if (!Model.Any())
{
    @Html.StatusMessage(Global.NoFriends, StatusMessageType.Information)
    return;
}

<div class="panel dashboard-panel">
    <div class="panel-body">
        @foreach (var item in Model)
            {
            <div id="dashboard-header">
                <div class="row" id="dv_@item.User.Id">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-sm-3">
                                <div id="dashboard-avatar">
                                    <img class="img-responsive" src="@item.User.AvatarUrl" alt="@item.User.UserName" />
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div id="dashboard-details" class="dashboard-cell">
                                    <div id="dashboard-username" class="text-uppercase">@item.User.UserName</div>
                                    <div id="dashboard-level" class="text-uppercase">
                                        @Global.Level @item.User.Level
                                    </div>
                                    <div id="dashboard-progress">
                                        <div class="progress pull-left">
                                            <div class="progress-bar" role="progressbar" aria-valuenow="@item.LevelPercentage" aria-valuemin="0" aria-valuemax="100" style="width: @item.LevelPercentage%;">
                                                <span class="sr-only">@item.LevelPercentage% Complete</span>
                                            </div>
                                        </div>
                                        <small>@(item.User.Xp)/@(item.NextLevel.XpRequired)</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div style="margin-left:15px;color:#fff">@Global.Chat</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="dashboard-cell">
                                    <div class="dashboard-number">@item.User.Xp</div>
                                    <div class="dashboard-label text-uppercase">@Global.Experience</div>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <a href="@Url.Action("UserTrophies", "User")" class="dashboard-cell">
                                    <div class="dashboard-number">@item.Trophies.Count</div>
                                    <div class="dashboard-label text-uppercase">@Global.Trophies</div>
                                </a>
                            </div>
                            <div class="col-sm-4">
                                <a href="@Url.Action("UserFriends", "User",new { userName=item.User.UserName})" class="dashboard-cell">
                                    <div class="dashboard-number">@item.Friends.Count</div>
                                    <div class="dashboard-label text-uppercase">@(item.Friends.Count == 1 ? Global.Friend : Global.Friends)</div>
                                </a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-link" style="padding:0px;margin-right:15px;margin-bottom:2px;float:right;color:#fff" onclick="remove('@item.User.Id')">@Global.RemoveFriend</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div id="dialog-confirm" style="display:none" title="">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>@Global.AreSure</p>
</div>

@section scripts
{
    <link href="@Url.Content("~/Scripts/dialog/jquery-ui.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/dialog/jquery-ui.js")"></script>
    <script>
        var options = {
            resizable: false,
            height: "auto",
            width: 400,
            modal: true,
            title: '',
            buttons: null,
            title: '@Global.RemoveFriend'
        };
        function remove(id) {
            var confirmDialog = $('#dialog-confirm');
            options.buttons = {
                "OK": function () {
                    $.ajax({
                        url: '@Url.Content("~/friends/remove")',
                        type: 'POST',
                        data: { 'friendId': id },
                        dataType: 'json',
                        success: function () {
                            $('#dvMessage').html('@Html.Raw(Html.StatusMessage(Global.RemoveFriendSuccessfullyMessage, StatusMessageType.Success).ToString().Replace("'","\""))');
                            $('#dv_' + id).hide();
                        },
                        error: function () {
                            $('#dvMessage').html('@Html.Raw(Html.StatusMessage(Global.FriendActionFailMessage, StatusMessageType.Error).ToString().Replace("'","\""))');
                        }
                    });
                    $(this).dialog("close");
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }

            confirmDialog.dialog(options);

        }
    </script>
}

