@using OrangeJetpack.Base.Web

@model Mzayad.Web.Models.User.FriendsViewModel

@{
    ViewBag.Title = Global.TheFriends;
}
<div id="dvMessage"></div>

@if (!Model.Friends.Any())
{
    @Html.StatusMessage(Global.NoFriends, StatusMessageType.Information)
}

@if (Model.Friends.Any())
{
    <div class="panel dashboard-panel">
        <div class="panel-heading">
            <h3 class="panel-title text-uppercase">@Global.TheFriends</h3>
            <div class="clearfix"></div>
        </div>
        <div class="panel-body">
            @foreach (var friend in Model.Friends)
                {
            <div class="row" style="border-bottom:1px solid #f1f1f1;margin-bottom:10px;padding-bottom:10px;" id="dv_@friend.Id">
                <div class="col-sm-1">
                    <div class="dashboard-avatar">
                        <img class="img-responsive" src="@friend.AvatarUrl" alt="@friend.UserName" />
                    </div>
                </div>
                <div class="col-sm-9">
                    <div id="dashboard-details" class="dashboard-cell" style="padding:0px;">
                        <div id="dashboard-username" class="text-uppercase">
                            <a href="@Url.Content("~/"+ LanguageCode+ "/profiles/"+friend.UserName)">@friend.UserName</a>
                        </div>
                        <button type="button" class="btn btn-link" style="padding:0px;" onclick="remove('@friend.Id')">@Global.Remove</button>
                        <a href="@Url.Content("~/"+ LanguageCode+ "/friends/message/"+friend.Id)" class="btn btn-link">@Global.Chat</a>
                    </div>
                </div>
            </div>
            }
        </div>
    </div>
}
<div id="dialog-confirm" style="display:none" title="">
    <p><span class="ui-icon ui-icon-alert" style="float:left; margin:12px 12px 20px 0;"></span>@Global.AreSure</p>
</div>

@section scripts
{
    <link href="@Url.Content("~/Scripts/dialog/jquery-ui.css")" rel="stylesheet" />
    <script src="@Url.Content("~/Scripts/dialog/jquery-ui.js")"></script>
    <script>
        var options = {
            resizable: false,
            height: "auto",
            width: 400,
            modal: true,
            title: '',
            buttons: null,
            title: '@Global.RemoveFriend'
        };
        function remove(id) {
            var confirmDialog = $('#dialog-confirm');
            options.buttons = {
                "OK": function () {
                    $.ajax({
                        url: '@Url.Content("~/friends/remove")',
                        type: 'POST',
                        data: { 'friendId': id },
                        dataType: 'json',
                        success: function () {
                            $('#dvMessage').html('@Html.Raw(Html.StatusMessage(Global.RemoveFriendSuccessfullyMessage, StatusMessageType.Success).ToString().Replace("'","\""))');
                            $('#dv_' + id).hide();
                        },
                        error: function () {
                            $('#dvMessage').html('@Html.Raw(Html.StatusMessage(Global.FriendActionFailMessage, StatusMessageType.Error).ToString().Replace("'","\""))');
                        }
                    });
                    $(this).dialog("close");
                },
                Cancel: function () {
                    $(this).dialog("close");
                }
            }

            confirmDialog.dialog(options);

        }
    </script>
}

