@model IEnumerable<Mzayad.Models.Message>

@{
    ViewBag.Title = Global.Inbox;
}

<div class="panel dashboard-panel">
    <div class="panel-body">
        @foreach (var item in Model)
        {
            <div id="dashboard-header">
                <div class="row" id="dv_@item.User.Id">

                    <div class="col-md-9">
                        <div class="row">
                            <div class="col-sm-2">
                                <div id="dashboard-avatar">
                                    <img class="img-responsive" src="@item.User.AvatarUrl" alt="@item.User.UserName" />
                                </div>
                            </div>
                            <div class="col-sm-9">
                                <div id="dashboard-details" class="dashboard-cell">
                                    <div id="dashboard-username" class="text-uppercase">
                                        <a href="@Url.Action("UserProfile", "User", new { area = "", userName = item.User.UserName })" style="color:#33ace0">@item.User.UserName</a>
                                    </div>
                                    <div class="dashboard-label" style="word-wrap:break-word">
                                        @Html.Raw(item.Summary)
                                    </div>
                                    <div id="dashboard-level">
                                        <a href="@Url.Action("message", "friends", new { id = item.MessageId })" data-remote="false" data-toggle="modal" data-target="#myModal">
                                            @Global.More
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="row">
                            <div class="col-sm-12">
                                <div id="dashboard-details" class="dashboard-cell">
                                    <div class="dashboard-label">
                                        @item.CreatedUtc
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Global.Close</button>
            </div>
        </div>
    </div>
</div>


@section scripts
{
    <script>
        $("#myModal").on("show.bs.modal", function (e) {
            var link = $(e.relatedTarget);
            $(this).find(".modal-body").load(link.attr("href"));
        });
    </script>
}