@model Mzayad.Web.Models.User.NotificationModelView

@{
    ViewBag.Title = Global.Notifications;
    
}

<p class="instruction">@Global.NotificationsInstructions</p>

<h2>@Global.NewAuctionsByCategory</h2>

<p>@Global.NewAuctionsByCategoryInstructions</p>

<div class="row">
    <div class="@Html.Css().FormWide">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <section>
                <div class="form-group">
                    @Html.Partial("ProductCategories", Model)
                </div>
            </section>

            <section class="form-buttons">
                <button type="submit" class="btn btn-default">@Global.Save</button>
            </section>
        }
    </div>
</div>

@section scripts {
    <script>

        $(function() {

            var onCategoryChange = function() {

                var checkbox = $(this);
                var checked = checkbox.is(":checked");

                var parent = checkbox.closest("li");
                var descendents = parent.find("input[type='checkbox']");

                descendents.prop('checked', checked);

                return;
            };

            $("#CategoryList").on("change", "input[type='checkbox']", onCategoryChange);

        });

    </script>
}


