@model IEnumerable<Mzayad.Models.UserTrophy>

@{
    ViewBag.Title = Global.Trophies;
}

<h2>@Global.Trophies</h2>
<ul class="link-list"></ul>
<table class="table table-bordered">
    <tr>
        <th>
            @Global.Name
        </th>
        <th>
            @Global.Description
        </th>
        <th>
            
        </th>
        <th>
            @Global.XpAward
        </th>
        <th>
            @Global.AwardedOn
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Trophy.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Trophy.Description)
        </td>
        <td>
            <img src="@item.Trophy.IconUrl" style="width: 25px;"/>
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.XpAwarded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedUtc)
        </td>
    </tr>
}

</table>
