@using Mzayad.Core.Formatting
@model List<Mzayad.Web.Models.User.TrophieViewModel>

@{
    ViewBag.Title = Global.Trophies;
}

@section styles
{
    <style>
        .gray {
            -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
            filter: grayscale(100%);
        }
    </style>
}

@if (!Model.Any())
{
    <div class="alert alert-warning">@Global.NoTrophiesMessage</div>

    return;
}

<table class="@Html.Css().GridTable">
    <thead>
        <tr>
            <th></th>
            <th>
                @Global.Trophy
            </th>
            <th>
                @Global.XpAward
            </th>
            <th>
                @Global.AwardedOn
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="image-cell">
                    @{
                        var styleclass = item.Earned ? "img-responsive gray" : "img-responsive";
                    }
                    <img class="@styleclass" src="@item.IconUrl" alt="@item.TrophyName" />
                </td>
                <td>
                    <p>@item.TrophyName</p>
                    <p><em>@item.TrophyDescription</em>
                    </p>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.XpEarned)
                </td>
                <td>
                    @DateTimeFormatter.ToLocalTime(item.AwardDate)
                </td>
            </tr>
        }
    </tbody>
</table>
