@using Mzayad.Core.Formatting
@model IEnumerable<Mzayad.Models.UserTrophy>

@{
    ViewBag.Title = Global.Trophies;
}

<table class="@Html.Css().GridTable">
    <thead>
    <tr>
        <th></th>
        <th>
            @Global.Trophy
        </th>
        <th>
            @Global.XpAward
        </th>
        <th>
            @Global.AwardedOn
        </th>
    </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td class="image-cell">
                    <img class="img-responsive" src="@item.Trophy.IconUrl" alt="@item.Trophy.Name" />
                </td>
                <td>
                    <p>@item.Trophy.Name</p>
                    <p><em>@item.Trophy.Description</em></p>
                </td>
                <td>@Html.DisplayFor(modelItem => item.XpAwarded)</td>
                <td>@DateTimeFormatter.ToLocalTime(item.CreatedUtc, DateTimeFormatter.Format.Sortable)</td>
            </tr>
        }
    </tbody>
</table>
