@model Mazadaty.Models.Auction
@{
    ViewBag.Title = Global.BuyNow;
}

@section styles {
    @Styles.Render("~/css/nivo")
}

@Html.DisplayForModel()

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <p class="text-center">
        <button type="submit" name="action" value="1" class="btn btn-default">@Global.ContinueToCheckout</button>
        <button type="submit" name="action" value="2" class="btn btn-bid">@Global.AddToCart</button>
    </p>
}

@section scripts {
    @Scripts.Render("~/js/nivo")
    <script>
        $(function () {

            var initNivo = function () {
                $(".product-image").nivoLightbox();
            }

            $(function () {
                initNivo();
            });

        });
    </script>
}
