@using Newtonsoft.Json
@model Mazadaty.Web.Models.Order.ShippingAddressViewModel

@{
    ViewBag.Title = Global.ShippingAddress;
}

@section styles {
    <link rel="stylesheet" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" />
    <link rel="stylesheet" href="/content/flags/flags.css" />

    <style>
        #phoneNumber {
            direction: ltr !important;
        }

        #addressCountryCode {
            display: none;
        }
    </style>
}
<div class="row">
    <div class="@Html.Css().FormNormal">

        @using (Html.BeginForm("Shipping", "Orders", new { orderId = Model.Order.OrderId }))
        {
            @Html.AntiForgeryToken()

            <section>
                <div class="form-group">
                    @Html.LabelFor(m => m.ShippingAddress.Name, Global.Name).Required()
                    @Html.TextBoxFor(m => m.ShippingAddress.Name, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.ShippingAddress.Name, Global.FirstNameRequiredErrorMessage)
                </div>

                @Html.EditorFor(i => i.PhoneNumberViewModel, "PhoneNumber", Model.PhoneNumberViewModel)
            </section>

            @Html.EditorFor(m => m.AddressViewModel)

            <section class="form-buttons">
                <button type="submit" class="btn btn-default">@Global.SaveAndContinue</button>
            </section>
        }

    </div>
</div>
@section scripts {
    @Scripts.Render("~/js/jquery-ui")
    @Scripts.Render("~/js/validate")
    <script src="~/scripts/address.js"></script>
    <script>

        $(function() {
            var areas =  @Html.Raw(JsonConvert.SerializeObject(Model.AddressViewModel.KuwaitAreas));
            $(".kuwait-area").autocomplete({
                source: areas
            });
        });

    </script>
}
